#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F7  &kp F3  &kp F1  &kp D   &kp S   &kp W   &kp A   &mo 1
                &mo 2   &kp I   &kp O   &kp P   &kp H   &kp J   &kp K   &kp L
            >;
        };

        fn1_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        fn2_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
